@{ ViewBag.Title = "About"; }

<h1>About us</h1>
<p>We are oficial web site for Uefa champions league. On this web site you can watch all matchsdays and choose ticket for match who you want to watch live. This site is available since 2005. We gurantee graet and uforgettable experince. Enjoy</p>