@{ ViewBag.Title = "About"; }

<h1>About us</h1>

<p>We are official website for Uefa champions league. On this web site you can buy all tickets who you want.
   This site is available since 2005.
   We guarantee unforgettable experience.
   Enjoy in the matches!!</p>