@model MVC.ChampionsLeagueApp.ViewModels.Models.HomeViewModel

@{ ViewBag.Title = "Home"; }

<div class="jumbotron">

    <div class="display-4">Champions League App</div>
    <p class="lead">The best app for buying ticket for Champions League matches</p>
    <hr class="my-4">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner carousel-custom">
            <div class="carousel-item active">
                <img src="~/images/tickets/juventus-barcelona-champions.jpg" class="d-block w-100 h-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="~/images/tickets/real-madrid-bayern-munich-champions-league-semifinals-soccer.jpg" class="d-block w-100 h-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="~/images/tickets/2018-11-28.jpg" class="d-block w-100 h-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="~/images/tickets/95ace41bca130a0248d0085eea94ea82.png" class="d-block w-100 h-100" alt="...">
            </div>
        </div>
    </div>

    <hr class="my-4">

    <h3>Buy your ticket NOW!</h3>
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group-btn">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-danger">Buy</button>
                    </span>
                    <input type="text" asp-for="NumberOfTickets" value="1" class="form-control" />
                </div>
            </div>
        </div>
    </form>

</div>